@using DAL.Entities
@using Microsoft.AspNetCore.Razor.Language.Intermediate
@model Business.DTOs.JobOfferDto
@{ ViewData["Title"] = "Delete Job Offer"; }

<form asp-action="DeleteJobOffer">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="submit" value="Confirm delete" class="btn btn-primary" />
    </div>
</form>
<div>
    @Html.ActionLink("Cancel", "Index", "JobOffer", new {}, new { @class = "btn btn-secondary" })
</div>
