@model Business.DTOs.UserLoginDto
@{ ViewData["Title"] = "Login";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>@Html.ValidationSummary("")</p>
            <div class="row">
                <div class="col">Username:</div>
                <div class="col">
                    @Html.TextBoxFor(model => model.Name, new { placeholder = "Username", required = true, maxlength = 64 })
                </div>
            </div>
            <div class="row">
                <div class="col">Password:</div>
                <div class="col">
                    @Html.PasswordFor(model => model.Password, new { placeholder = "Password", required = true, maxlength = 64 })
                </div>
            </div>
            <div>
                <input type="submit" name="Login" method="post" value="Log In" class="btn btn-primary"/>
            </div>
        }
    </div>
</div>

